<a href="https://colab.research.google.com/github/vichacker1234/Curso_mineria_de_datos/blob/main/Tarea2_parte3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Se importa las librerías principales a usar 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [6]:
#Cargar la base de datos
clientes=pd.read_csv('/content/Clientes.csv',sep=',')
#visualización de las primeras 10 filas
clientes.head(10)

   Numero_cuenta Nombre_cliente  Saldo_actual Fecha_transaccion
0       15634602       Hargrave      10134888        2022-08-29
1       15647311           Hill      11254258        2020-05-13
2       15619304           Onio      11393157        2022-06-25
3       15701354           Boni       9382663        2019-08-12
4       15737888       Mitchell        790841        2022-04-25
5       15574012            Chu      14975671        2021-10-17
6       15592531       Bartlett        100628        2022-08-30
7       15656148         Obinna      11934688        2018-05-22
8       15792365             He        749405        2020-04-04
9       15592389             H?       7172573        2022-08-23

## Definir una función que implemente una clase iterable

In [12]:
#Se define un ciclo for para mostrar al cliente y su saldo actual 
for i in clientes['Nombre_cliente']:
  print(clientes['Saldo_actual'])

Se han truncado las últimas 5000 líneas del flujo de salida.
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157
3        9382663
4         790841
          ...
9995     9627064
9996    10169977
9997     4208558
9998     9288852
9999     3819078
Name: Saldo_actual, Length: 10000, dtype: int64
0       10134888
1       11254258
2       11393157

In [9]:
#Se usa un ciclo para obtener las cuentas de cada uno de los clientes 
for i in clientes['Numero_cuenta']:
  print(clientes['Numero_cuenta'])

Se han truncado las últimas 5000 líneas del flujo de salida.
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: Numero_cuenta, Length: 10000, dtype: int64
0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319