<a href="https://colab.research.google.com/github/vichacker1234/Curso_mineria_de_datos/blob/main/Tarea2_parte1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Ejercicio No 1 (Conjuntos)

In [4]:
#Ejercicio con tuplas 
#Ejemplo resuelto
#Se define el conjutno de frutas
frutas={'Banano','Naranja','Manzana','tomate'}
#Se imprime el tipo del objeto frutas
print(type(frutas))

<class 'set'>

In [5]:
#Se va  agregar una fruta al conjunto
frutas.add('fresa')
print(frutas)

{'Naranja', 'Banano', 'tomate', 'fresa', 'Manzana'}

In [13]:
#Ahora se define el conjunto verduras

verduras = {'cebolla', 'tomate'}
print( verduras)

{'cebolla', 'tomate'}

In [14]:
#Intersección entre dos conjuntos 
print(frutas & verduras)

{'tomate'}

In [15]:
#unión de conjuntos 
print(frutas | verduras)

{'Naranja', 'Banano', 'cebolla', 'tomate', 'fresa', 'Manzana'}

In [16]:
# diferencia de conjutnos 
print( frutas - verduras)

{'Naranja', 'Banano', 'Manzana', 'fresa'}

In [17]:
# diferencia simétrica
print( frutas ^ verduras)

{'cebolla', 'Naranja', 'Banano', 'fresa', 'Manzana'}

In [20]:
#Frozenset
fruta_congelada = frozenset(frutas)
print(fruta_congelada)

frozenset({'Naranja', 'Banano', 'tomate', 'fresa', 'Manzana'})

## Ejercicio No 2 (Listas)

In [30]:
#Definir la lista de nombres
lista1 = ['Alvaro', 'Daniel', 'Pilar', 'Beatriz','Diana','Marcela','Daniel']
print(lista1)

['Alvaro', 'Daniel', 'Pilar', 'Beatriz', 'Diana', 'Marcela', 'Daniel']

In [24]:
#Se va a acceder a los elementos de esta lista
for i in lista1:
    print(i)
print('\n')

Alvaro
Daniel
Pilar
Beatriz
Diana
Marcela

In [32]:
#Contar los elementos de la lista
#Cuenta el número de veces que aparace un elemento en la lista 
lista1.count('Daniel')

2

In [34]:
#Definir el objeto nombres
Nombres=('Alvaro', 'Daniel', 'Pilar', 'Beatriz','Diana','Marcela','Daniel')

In [53]:
#Adicionar elementos a la lista
#Se define en primer lugar la lista vacía 
Lista2 = []
for i in Nombres:
    Lista2.append(i)

print(Lista2)

['Alvaro', 'Daniel', 'Pilar', 'Beatriz', 'Diana', 'Marcela', 'Daniel']

In [47]:
#Concatenar las listas
N = len(Lista2)

numL = []

for i in range(N):
    numL.append(i)

print('alfaL = ',Lista2) 
print('\n')
print('numL = ',numL)
print('\n')


Lista2_numL = Lista2 + numL
Lista2_numLL = [Lista2, numL]

print('alfanumL = ',Lista2_numL) 
print('\n')
print('alfanumLL = ',Lista2_numLL)

alfaL =  ['Alvaro', 'Daniel', 'Pilar', 'Beatriz', 'Diana', 'Marcela', 'Daniel']


numL =  [0, 1, 2, 3, 4, 5, 6]


alfanumL =  ['Alvaro', 'Daniel', 'Pilar', 'Beatriz', 'Diana', 'Marcela', 'Daniel', 0, 1, 2, 3, 4, 5, 6]


alfanumLL =  [['Alvaro', 'Daniel', 'Pilar', 'Beatriz', 'Diana', 'Marcela', 'Daniel'], [0, 1, 2, 3, 4, 5, 6]]

In [48]:
# Acceso a los elementos de la lista alfanumLL

for i in range(N):
    print(Lista2_numLL[0][i],Lista2_numLL[1][i] )

Alvaro 0
Daniel 1
Pilar 2
Beatriz 3
Diana 4
Marcela 5
Daniel 6

In [54]:
#Remover los elementos de una lista
#Remueve ambos nombres de Daniel en este caso 
Lista2.remove('Daniel')
print(Lista2)

['Alvaro', 'Pilar', 'Beatriz', 'Diana', 'Marcela', 'Daniel']

In [56]:
#Ahora se van a imprimir los nombres que cumplen una cierta condición
Lista3=[]
for i in Lista2:
  if "e" in i:
    Lista3.append(i)
print(Lista3)

['Beatriz', 'Marcela', 'Daniel']

In [58]:
#Se va a hacer la misma ejecución por compresión
lista3 = [i for i in Lista2 if "e" not in i]
print(lista3)

['Alvaro', 'Pilar', 'Diana']